# Importing Library

In [51]:
import pandas as pd

# Loading and Previewing dataset

In [52]:
df = pd.read_csv('/content/car.data')

In [53]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [54]:
df.shape

(1727, 7)



# Data Cleaning

In [55]:
df.loc[len(df)] = df.columns

In [56]:
df.shape

(1728, 7)

In [57]:
col_names = ['buying','maint','doors','persons','lug_boot','safety','label']

In [58]:
df.columns = col_names

In [59]:
df.head()

  buying  maint doors persons lug_boot safety  label
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [60]:
df.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
label       object
dtype: object

In [61]:
df.value_counts()

buying  maint    doors  persons  lug_boot  safety  label
high    high     2      2        big       high    unacc    1
med     med      4      4        med       med     acc      1
                        more     small     low     unacc    1
                                           high    acc      1
                                 med       med     acc      1
                                                           ..
low     low      3      2        med       med     unacc    1
                                           low     unacc    1
                                           high    unacc    1
                                 big       med     unacc    1
vhigh   vhigh.1  2      2.1      small     low     unacc    1
Length: 1728, dtype: int64

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   label     1728 non-null   object
dtypes: object(7)
memory usage: 108.0+ KB

In [63]:
df.describe()

       buying maint doors persons lug_boot safety  label
count    1728  1728  1728    1728     1728   1728   1728
unique      4     5     4       4        3      3      4
top     vhigh  high     2       4    small    med  unacc
freq      432   432   432     576      576    576   1210

In [64]:
df['buying'].value_counts()

vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64

In [65]:
df['buying'].head()

0    vhigh
1    vhigh
2    vhigh
3    vhigh
4    vhigh
Name: buying, dtype: object

In [66]:
df['buying'].replace({'vhigh':0,'high':1,'med':2,'low':3},inplace=True)

In [67]:
df['maint'].replace({'vhigh.1':'vhigh'},inplace=True)

In [68]:
df['maint'].value_counts()

vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64

In [69]:
df['maint'].replace({'vhigh':0,'high':1,'med':2,'low':3},inplace=True)

In [70]:
df.head()

   buying  maint doors persons lug_boot safety  label
0       0      0     2       2    small    med  unacc
1       0      0     2       2    small   high  unacc
2       0      0     2       2      med    low  unacc
3       0      0     2       2      med    med  unacc
4       0      0     2       2      med   high  unacc

In [71]:
df['doors'].value_counts()

2        432
3        432
4        432
5more    432
Name: doors, dtype: int64

In [72]:
df['doors'].replace({'5more':5},inplace=True)

In [73]:
df['doors'] = df['doors'].astype('int64')

In [74]:
df['doors'].head()

0    2
1    2
2    2
3    2
4    2
Name: doors, dtype: int64

In [75]:
df.head()

   buying  maint  doors persons lug_boot safety  label
0       0      0      2       2    small    med  unacc
1       0      0      2       2    small   high  unacc
2       0      0      2       2      med    low  unacc
3       0      0      2       2      med    med  unacc
4       0      0      2       2      med   high  unacc

In [76]:
df.persons.value_counts()

4       576
more    576
2       575
2.1       1
Name: persons, dtype: int64

In [77]:
df.persons.replace({'2.1':'2','more':5},inplace=True)

In [78]:
df.persons.value_counts()

2    576
4    576
5    576
Name: persons, dtype: int64

In [79]:
df.persons = df.persons.astype('int64')

In [80]:
df.dtypes

buying       int64
maint        int64
doors        int64
persons      int64
lug_boot    object
safety      object
label       object
dtype: object

In [81]:
df.lug_boot.value_counts()

small    576
med      576
big      576
Name: lug_boot, dtype: int64

In [82]:
df.lug_boot.replace({'small':0,'med':1,'big':2},inplace=True)

In [83]:
df.safety.value_counts()

med     576
high    576
low     576
Name: safety, dtype: int64

In [84]:
df.safety.replace({'low':0,'med':1,'high':2},inplace=True)

In [86]:
df.label.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: label, dtype: int64

In [87]:
df.label.replace({'unacc':0,'acc':1,'good':2,'vgood':3},inplace=True)

In [89]:
df.head()

   buying  maint  doors  persons  lug_boot  safety  label
0       0      0      2        2         0       1      0
1       0      0      2        2         0       2      0
2       0      0      2        2         1       0      0
3       0      0      2        2         1       1      0
4       0      0      2        2         1       2      0

In [90]:
df.shape

(1728, 7)

# Data Split

In [112]:
X=df[['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']]
y=df['label']

In [101]:
print(X.head())
print(y.head())

   buying  maint  doors  persons  lug_boot  safety
0       0      0      2        2         0       1
1       0      0      2        2         0       2
2       0      0      2        2         1       0
3       0      0      2        2         1       1
4       0      0      2        2         1       2
0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [92]:
from sklearn.model_selection import train_test_split

In [102]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [103]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1209, 6)
(519, 6)
(1209,)
(519,)

# Data Modeling

In [113]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

In [114]:
clf = DecisionTreeClassifier(random_state=0)

In [115]:
score = cross_val_score(clf, X, y, cv=10)
score.mean()

0.8825547788681275

In [116]:
#Scored 88% of accuracy